<div id="chat_users" class="il-item-group" aria-live="polite">
	<p class="no_users small ilCenter">{LBL_NO_FURTHER_USERS}</p>
</div>

<script id="ilChatUserRowAction" class="ilNoDisplay" type="x-tmpl-ilias">
	<li role="presentation">
		<div class="arrow-down ilNoDisplay"></div>
		<a role="menuitem" tabindex="-1">[[LABEL]]</a>
	</li>
</script>

<script id="ilChatUserRowTemplate" class="ilNoDisplay" type="x-tmpl-ilias">
  <div class="online_user il-item il-std-item">
      <div class="media">
	  <div class="media-left">
	      <span class="il-avatar il-avatar-picture il-avatar-size-large">
		  <img alt="">
	      </span>
          </div>
          <div class="media-body">
              <h4 class="il-item-title"><span data-placeholder="USERNAME"></span></h4>
              <div class="ilChatroomDropdown il-item-actions l-bar__space-keeper">
                  <div class="l-bar__element">
                      <div class="dropdown">
                          <button type="button" class="chatroom-user-action-dropdown ilNoDisplay btn btn-default dropdown-toggle" data-toggle="dropdown" data-container="body" aria-label="Aktionen für ">
                              <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu ilChatroomDropdownOptions" role="menu"></ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</script>

<!-- <script id="ilChatUserRowTemplate" class="ilNoDisplay" type="x-tmpl-ilias"> -->
<!--   <div class="ilChatroomUser online_user"> -->
<!--       <div class="media"> -->
<!-- 	  <div class="ilAwarenessItemRow"> -->
<!-- 	      <div class="media-left"> -->
<!-- 		  <img class="media-object" alt=""> -->
<!-- 	      </div> -->
<!-- 	      <div class="media-body"> -->
<!-- 		  <h4 class="media-heading"><span data-placeholder="USERNAME"></span></h4> -->
<!--               </div> -->
<!--               <div class="ilChatroomDropdown"> -->
<!--                   <button type="button" class="chatroom-user-action-dropdown ilNoDisplay btn btn-default dropdown-toggle" data-toggle="dropdown" data-container="body" aria-label="Aktionen für "> -->
<!--                       <span class="caret"></span> -->
<!--                   </button> -->
<!--                   <ul class="dropdown-menu pull-right ilChatroomDropdownOptions" role="menu"> -->
<!--                   </ul> -->
<!--               </div> -->
<!--           </div> -->
<!--       </div> -->
<!--   </div> -->
<!-- </script> -->
